* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:#c86ef2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(13, 181, 13, 0.1);
    width: 400px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-input button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #218838;
}

.task-list ul {
    list-style: none;
}

.task-list li {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list li.completed {
    text-decoration: line-through;
    color: #6c757d;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
.completed {
    text-decoration: line-through;
    color: #6c757d;
}

